
/* lora-regular - latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/lora-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lora Regular'), local('Lora-Regular'),
       url('./fonts/lora-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/lora-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/lora-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/lora-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/lora-v12-latin-regular.svg#Lora') format('svg'); /* Legacy iOS */
}

body {
  font-family: 'Lora';
}

    .svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.graph-container {
  width: 60%;
  float: right;
}

div.section-container {
  width: 40%;
  /*float: left;*/
  margin-bottom: 500px;
}

section {
  margin-top: 200px;
  opacity: 0.3;
}

div.text {
  padding: 30px;
  margin: 0 auto;
  background-color: #f2f2f2;
  /*font-family: sans-serif;*/
}

#graph{
  position: fixed;
  top: 0px;
  width: 50vw;
}

section.graph-scroll-active {
  opacity: 1;
}

